.stage{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
    height: 100%;
    border-radius: 0.25rem;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}

.upload-area{
    border:1px dashed;
    border-radius: 0.5rem;
    width: 700px;
    margin: auto;
    position: relative;
}
